body{
    background-color: goldenrod;
}

#app{
    background-color: coral;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#boks{
    border: solid 1px black;
}